<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Ajudar - OBSF</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre Nós</a></li>
        <li><a href="/projetos">Projetos</a></li>
        <li><a href="/como-ajudar">Como Ajudar</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

    
    <h1>Como Você Pode Contribuir</h1>
    
    <section>
        <h2>Doações via PIX</h2>
        <p><strong>Chave Pix:</strong> ajuda@ongsemfome.org</p>
        
        <h2>Parcerias Empresariais</h2>
        <p>Também aceitamos parcerias com empresas e ações em grupo. Toda ajuda é bem-vinda e transparente.</p>
        
        <h2>Voluntariado</h2>
        <p>Participe do nosso Projeto Voluntariado ajudando na distribuição de marmitas e cestas básicas.</p>
        
        <h2>Apadrinhe uma Família</h2>
        <p>Escolha uma família vulnerável para ajudar mensalmente com cestas básicas, itens de higiene e auxílio nas contas essenciais.</p>
    </section>
</body>
</html>
