<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos - OBSF</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre Nós</a></li>
        <li><a href="/projetos">Projetos</a></li>
        <li><a href="/como-ajudar">Como Ajudar</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

    
    <h1>Nossos Projetos</h1>
    
    <section>
        <h2>Projeto Apadrinhe uma Família</h2>
        <p>Parceiros escolhem famílias vulneráveis para ajudar mensalmente com cestas básicas, itens de higiene e auxílio nas contas de água e luz.</p>
        
        <h2>Projeto Lojinha</h2>
        <p>Parceiros podem comprar na nossa loja virtual onde vendemos frutas e legumes, e o dinheiro arrecadado é inteiramente para auxiliar nos gastos da ONG.</p>
        
        <h2>Projeto Cestas nas Sextas</h2>
        <p>No final do mês, às sextas-feiras, nós saímos na rua e em comunidades e periferias para entregar cestas básicas de alimentos com a ajuda do governo e parceiros.</p>
        
        <h2>Projeto Voluntariado</h2>
        <p>Apoio de parceiros para distribuir e ajudar na mão de obra das marmitas e cestas entregues.</p>
    </section>
</body>
</html>
